<footer class="footer">
    <div class="container text-center py-5">
        <small class="copyright">Template Copyright &copy; <a href="" target="_blank">rootbabu</a></small>
        <ul class="social-list list-unstyled pt-4 mb-0">
            <li class="list-inline-item">
                <a href="https://github.com/ROOTBABU" target="_blank">
                    <fa-icon [icon]="iconComponents['faGithub']"></fa-icon>
                </a>
            </li>
            <li class="list-inline-item">
                <a href="https://discord.gg/UqrZ78gYg3" target="_blank">
                    <fa-icon [icon]="iconComponents['faDiscord']"></fa-icon>
                </a>
            </li>
            <li class="list-inline-item">
                <a href="https://rootbabu.medium.com/" target="_blank">
                    <fa-icon [icon]="iconComponents['faMedium']"></fa-icon>
                </a>
            </li>
            <li class="list-inline-item">
                <a href="https://twitter.com/root_babu" target="_blank">
                    <fa-icon [icon]="iconComponents['faTwitter']"></fa-icon>
                </a>
            </li>
            <li class="list-inline-item">
                <a href="https://gitter.im/ROOTBABU/ROOTBABU.SOL" target="_blank">
                    <fa-icon [icon]="iconComponents['faGitter']"></fa-icon>
                  </a>
            </li>

        </ul>
    </div>
</footer>