<mat-toolbar class="header">
  <a href="./" class="d-flex flex-row align-items-center text-decoration-none logo">
      <img width="40px" src="./assets/images/logo.png">
      <h1 class="logo-text">{{logo | uppercase}}</h1>
  </a>
  <span class="spacer"></span>
  <div>
    <app-breadcrumb [breadcrumbs]="breadcrumb"></app-breadcrumb>
  </div>
  <span class="spacer" *ngIf="githubLink"></span>
  <div class="github-link">
    <a [href]="githubLink" *ngIf="githubLink" class="d-flex flex-row " target="_blank">
        <fa-icon [icon]="faGithub" class="d-flex align-items-center"></fa-icon>
        <span class="edit-on-github">Edit on GitHub</span>
    </a>
  </div>
</mat-toolbar>
