<div class="prerequistie">
    <app-header *ngIf="headerConfig" [config]="headerConfig"></app-header>
    <div class="col-lg-7 mt-5 mx-auto text-center">
        <div class="homeicon">
            <a href="#">
                <fa-icon [icon]="faAsterisk"></fa-icon>
            </a>
        </div>
        <span class="display-4">Prerequisites</span>
        <div class="mt-4 ml-3 mr-3">
            <span class="fs16 gray-color-1">To get the most out of your solidity learning experience, it's important to have a strong foundation. Research the necessary prerequisites to ensure you are well-equipped to start working with solidity.</span>
        </div>
    </div>
    <div class="row content" *ngIf="config.length">
        <div class="mx-auto">
            <ul class="list-group">
                <li class="list-group-item" *ngFor="let item of config">
                    <div class="media align-items-lg-center flex-column flex-lg-row p-3">
                        <div class="media-body order-2 order-lg-1">
                            <h2 class="mt-0 font-weight-bold mb-2">{{item.title}}</h2>
                            <div class="d-flex flex-row prerequistie-items">
                                <div *ngFor="let ele of item.content" class="pr-3">
                                    <p class="mb-0 para fs16" *ngIf="!ele.link">{{ele.para}}</p>
                                    <a class="mb-0 para fs16" [href]="ele.link" *ngIf="ele.link" target="_blank">{{ele.para}}</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <app-footer></app-footer>
</div>