<div class="homepage">
  <mat-toolbar>
    <div>
      <a href="./" class="d-flex flex-row align-items-center text-decoration-none logo">
        <img width="40px" src="./assets/images/logo.png">
        <h1 class="logo-text">{{logo | uppercase}}</h1>
      </a>
    </div>
    <span class="spacer"></span>
    <div class="header-icons">
      <a href="https://github.com/ROOTBABU/solidity" target="_blank">
        <fa-icon [icon]="faGithub"></fa-icon>
      </a>
      <a href="https://gitter.im/ROOTBABU/ROOTBABU.SOL" target="_blank">
        <fa-icon [icon]="faGitter"></fa-icon>
      </a>
      <a href="https://discord.gg/UqrZ78gYg3" target="_blank">
        <fa-icon [icon]="faDiscord"></fa-icon>
      </a>
      <a href="https://rootbabu.medium.com/" target="_blank">
        <fa-icon [icon]="faMedium"></fa-icon>
      </a>
      <a href="https://twitter.com/root_babu" target="_blank">
        <fa-icon [icon]="faTwitter"></fa-icon>
      </a>
      <a href="#">
        <fa-icon [icon]="faInfo" (click)="showDialog()"></fa-icon>
      </a>
    </div>

  </mat-toolbar>
  <p-dialog class="homepage-info" header="Project Information" [(visible)]="displayMaximizable" [modal]="true"
    [breakpoints]="{'960px': '75vw', '640px': '100vw'}" [style]="{width: '50vw'}" [maximizable]="true"
    [baseZIndex]="10000" [draggable]="false" [resizable]="false">
    <div>
      <p>The goal of this project is to provide a comprehensive overview of the solidity programming language and to
        collect all relevant resources in one place, such as vulnerabilities and their POCs or writeups, blogs, and
        cheatsheets. And create a platform for people to connect and share their experiences, resources, and support
        with each other.</p>
      <h2>Prerequisites:</h2>
      <p>The prerequisites section contains a list of all the things you need to know in order to understand and use
        Solidity programming. This includes experience with at least one programming language, Blockchain fundamentals,
        Ethereum blockchain etc.</p>
      <h2>Basics:</h2>
      <p>This section will introduce you to the basics of Solidity programming. You will learn about variables, data
        types, functions, and more. These concepts will be explained using examples and projects. By the end of this
        section, you will be able to write your own Smart Contract.</p>
      <h2>Intermediate & Advanced:</h2>
      <p>This section will help you to understand more concepts about programming in depth.</p>
      <h2>Cheatsheets:</h2>
      <p>The cheatsheets  section is a great resource for quick tips and tricks. It is a quick and easy reference guide
        that can help you save time and energy when working on a project. Simply print out the cheat sheet (or keep it
        open in a tab) and refer to it when you need a quick reminder on how to do something.
        Whether you are a beginner or a seasoned pro, there is sure to be a cheatsheets that can help you out.</p>
      <h2>Bugs and security:</h2>
      <p>List out vulnerabilities that are published on public projects, and explore their POC/writeups. This will help
        us stay up to date on the current threats and how to mitigate them.</p>
      <h2>Roadmap:</h2>
      <p>Guide for individuals who are interested in pursuing a career in blockchain development.</p>
      <h2>List of Blogs:</h2>
      <p>An external list of blogs.</p>
    </div>
  </p-dialog>

  <div class="d-flex flex-column bd-highlight homepage-content">
    <div class="p-3 text-center">
      <h1 class="page-heading single-col-max mx-auto">Smart Contract <span class="clr-purple">Solidity</span> Hub</h1>
      
      <p class="desc mx-auto">
        Learn Solidity, connect with fellow programmers, and stay up-to-date on the latest vulnerabilities with our all-in-one solidity resource hub.<br>
      </p>
    </div>
    <div class="p-3 d-flex flex-wrap mb-5 mt-4 justify-content-center">
      <mat-card class="homepage-card m-2" *ngFor="let ele of config; let index = index;"
        (click)="onSectionClick(ele.route)" [class]="{disable : ele.isDisable}">
        <div class="d-flex flex-row">
          <div class="d-flex align-self-center">
            <span class="card-icon" target="_blank">
              <fa-icon [icon]="icon[index]"></fa-icon>
            </span>
          </div>
          <div class="card-content">
            <mat-card-title>
              <span>{{ele.title}}</span>
            </mat-card-title>
            <mat-card-subtitle>{{ele.detail}}</mat-card-subtitle>
          </div>
        </div>
      </mat-card>
    </div>
  </div>
</div>